@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --red-color: hsl(0, 100%, 74%);
    --green-color: hsl(154, 59%, 51%);
    --blue-color: hsl(248, 32%, 49%);
    --dark_blue-color: hsl(249, 10%, 26%);
    --grayish_blue-color: hsl(246, 25%, 77%);
    --poppins-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--poppins-font);
    font-size: 16px; 
}

body {
    background-image: url(/images/bg-intro-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--red-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.left {
    text-align: center;
    color: #FFF;
    margin: 5rem 2rem;
}

.left h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

span {
    font-weight: 600;
}

.trial {
    background-color: var(--blue-color);
    color: #FFF;
    text-align: center;
    border-radius: 10px;
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 1.125rem 4rem;
    box-shadow: 0px 6px 0px 1px rgba(0,0,0,0.18);
    -webkit-box-shadow: 0px 6px 0px 1px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 6px 0px 1px rgba(0,0,0,0.18);
}

form {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 7px 0px 1px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0px 7px 0px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 7px 0px 1px rgba(0,0,0,0.23);
    padding: 1.5rem;
    margin-inline: 1.5rem;
    margin-bottom: 3rem;
}

input {
    font-family: var(--poppins-font);
    font-weight: 700;
    padding: 1rem;
    border: 1px solid var(--grayish_blue-color);
    border-radius: 5px;
    width: 100%;
}

#submit {
    border: none;
    background-color: var(--green-color);
    text-transform: uppercase;
    color: #FFF;
    font-family: var(--poppins-font);
    padding: 1rem 3rem;
    font-weight: 600;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 0px 4px 0px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 4px 0px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 0px 1px rgba(0,0,0,0.25);
}

#submit:hover {
    opacity: 0.7;
    cursor: pointer;
}

#terms {
    text-align: center;
    color: var(--grayish_blue-color);
    font-size: 0.75rem;
    margin-top: 1rem;
    padding: 0 1.25rem;
}

#terms-span {
    color: var(--red-color);
    cursor: pointer;
}

.field-group {
    position: relative;
    margin-bottom: 1rem;
}

.error-icon {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
}

.error-text {
    display: block;
    text-align: right;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    color: var(--red-color);
    font-weight: 500;
    font-style: italic;
}

.error-icon, .error-text {
    display: none;
}

.field-group.error .error-text,
.field-group.error .error-icon {
	display: block;
}

.field-group.error input {
	border: 2px solid var(--red-color);
}

@media screen and (min-width: 768px) {
    body {
        background-image: url('/images/bg-intro-desktop.png');
    }

    .wrapper {
        flex-direction: row;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        margin-inline: 2rem;
    }

    .left {
        text-align: left;
        max-width: 45%;
    }

    .left h1 {
        font-size: 2.25rem;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        margin-inline: 3rem;
    }

    .left h1 {
        font-size: 2.75rem;
    }
}

@media screen and (min-width: 1440px) {
    .left h1 {
        font-size: 3.25rem;
        line-height: 5rem;
    }

    .left p {
        font-size: 1.25rem;
    }
    
    form {
        padding: 2.5rem;
    }

    input {
        padding-left: 2rem;
        font-size: 0.85rem;
    }

    .field-group {
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1920px) {
    .left h1 {
        font-size: 4rem;
    }

    .left p {
        font-size: 1.5rem;
    }
}